.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 936px) {
  .header__link {
    margin-right: 30px;
  }
}

@media screen and (max-width: 572px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
