.input_white {
  border-bottom: 1px solid #cccccc;
  background-color: #000000;
  color: #cccccc;
}

.input_white:focus {
  border-bottom-color: #ffffff;
  color: #ffffff;
}
.input_white:focus::placeholder {
  color: #ffffff;
}

.input_white::placeholder {
  color: #cccccc;
}
